<div class="pageheadings">
    <div class="text-uppercase">Medline.com</div>
    <div class="h4">Account Registration</div>
</div>
<div class="userinfo h6 text-uppercase">
    user information
</div>
<div class="alert alert-danger rounded-0" role="alert">
    Please review errors.
</div>
<div class="text-uppercase h6 userinfo2 mb-3">
    user information
</div>
<form class="clearfix mr-md-5">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label for="">First Name<span>*</span></label>
            <input type="text" class="form-control" id="" placeholder="">
            <small><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>First name required Field</small>
        </div>
        <div class="col-md-6 form-group">
            <label for="">Last Name<span>*</span></label>
            <input type="text" class="form-control" id="" placeholder="">
            <small><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>Last name required Field</small>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 form-group">
            <label for="">Phone<span>*</span></label>
            <input type="text" class="form-control" id="" placeholder="">
            <small><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>Phone required Field</small>
        </div>
        <div class="col-md-2 form-group">
            <label for="">Ext</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label for="">Email<span>*</span></label>
            <input type="text" class="form-control" id="" placeholder="">
            <small><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>Email required Field</small>
        </div>
    </div>
    <button type="submit" class="btn btn-success rounded-0 px-4 float-right">Next</button>
</form>