<div class="pageheadings">
    <div class="text-uppercase">Medline.com</div>
    <div class="h4">Account Registration</div>
</div>
<div class="userinfo h6 text-uppercase">
    user information
</div>
<div hidden class="alert alert-danger rounded-0" role="alert">
    Please review errors.
</div>
<div class="text-uppercase h6 userinfo2 mb-3">
    user information
</div>
<form #frm="ngForm" (submit)="onuserSubmit(frm)" class="clearfix mr-md-5">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label for="">First Name<span>*</span></label>
            <input type="text" class="form-control" required name="firstname" #firstname="ngModel" ngModel id="" placeholder="">
            <div *ngIf="firstname.invalid">
                <small *ngIf="firstname.touched && firstname.errors.required" class="text-danger"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>First name required Field</small>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label for="">Last Name<span>*</span></label>
            <input type="text" class="form-control" required name="lastname" #lastname="ngModel" ngModel id="" placeholder="">
            <div *ngIf="lastname.invalid">
                <small *ngIf="lastname.touched && lastname.errors.required" class="text-danger"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>Last name required Field</small>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 form-group">
            <label for="">Phone<span>*</span></label>
            <input type="number" class="form-control" required name="phone" #phone="ngModel" ngModel id="" placeholder="">
            <div *ngIf="phone.invalid">
                <small *ngIf="phone.touched && phone.errors.required" class="text-danger"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>Phone required Field</small>
            </div>
        </div>
        <div class="col-md-2 form-group">
            <label for="">Ext</label>
            <input type="text" class="form-control" id="" name="phoneext" ngModel placeholder="">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label for="">Email<span>*</span></label>
            <input type="email" class="form-control" required id="" #email="ngModel" name="email" ngModel placeholder="">
            <div *ngIf="email.invalid">
            <small *ngIf="email.touched && email.errors.required" class="text-danger"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>Email required Field</small>
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="frm.invalid" class="btn btn-success rounded-0 px-4 float-right">Next</button>
</form>