form input{
    border-radius: 0;
}
form label{
    text-transform: uppercase;
    font-weight: bold;
}
form small{
    font-size: 0.8rem;
}
form small svg{
    margin-right: 0.3rem;
}
form button[type="submit"]{
    text-transform: uppercase;
    font-weight: bold;
}
.userinfo{
    border-bottom: 1px solid #cccccc;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
}
.userinfo2{
    color: #1C56B9;
}

.popupmodel{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;    
    width: 100%;
    height: 100%;
}
.popupmodel::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}
.model-dialogbox{
    width: 350px;
    margin: auto;
    background-color: #fff;
    padding: 1rem;
    position: relative;
}
.close-icon{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.25rem;
    width: 25px;
    height: 25px;
}
.close-icon svg{
    width: 100%;
    height: 100%;
}
.model-dialogbox p span{
    width: 90px;
    font-weight: bold;
    display: inline-block;
}
.model-dialogbox .ok{
    margin-left: 120px;
}